<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Weather</title>
    </head>
<body>
<section id ="weather">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="list-group">
                    <a class = "list-group-item" href="/weather/Zhytomyr">Zhytomyr</a>
                    <a class = "list-group-item" href="/weather/Kyiv">Kyiv</a>
                    <a class = "list-group-item" href="/weather/Odesa">Odesa</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-9">
                <h1>Weather in city {{city}}</h1>
                <img src="http://openweathermap.org/img/wn/{{weather.weather.0.icon}}@2x.png" alt="">
                <p>Temperature is {{weather.main.temp}}C; feels like {{weather.main.feels_like}}C</p>
                <p>Humidity is {{weather.main.humidity}}%</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>